.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(95, 0, 0);
  /* Establece el fondo del navbar en negro */
  color: #fff; /* Cambia el color del texto según tus preferencias */
  z-index: 1000; /* Asegúrate de que el navbar esté en la parte superior */
}

.titulo {
  text-align: center;
  font-weight: bold;
  color:rgb(165, 97, 97);
}

/* Estilo personalizado para el ícono de WhatsApp (verde) */
.navbar-icons .whatsapp-icon {
  color: #25d366 !important;
}

/* Estilo personalizado para el ícono de Instagram (rosa) */
.navbar-icons .instagram-icon {
  color: #e1306c !important;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: black;
  /* Establece el fondo en negro */
  color: rgb(255, 255, 255);
  /* Establece el color de texto en blanco */
  display: flex;
  flex-direction: column;
  background-image: url('../images/wallpaper.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin:0;
}

body, p, h1, h2, h3, h4, h5, h6, a, span, div, li {
  text-shadow: 1px 1px 2px rgb(0, 0, 0); /* Sombreado negro */
}

.container {
  flex: 1;
}

.navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  /* Establece el color del texto del navbar en blanco */
}

.nav-item-large {
  font-size: 1.5rem; /* Cambia el tamaño del texto para hacerlo más grande */
}

.content {
  flex: 1;
  /* Contenido de tu página ocupará el espacio restante */
}

footer {
  background: #333; /* Color de fondo para el footer */
  color: white; /* Color del texto en el footer */
  padding: 10px;
  text-align: right;
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.parrafo {
  margin-top: 70px;
}

.imagen-centrada {
  margin: 0 auto;
  width: 50%;
  height: auto;
  object-fit: cover;
}

/* Agrega este CSS a tu archivo de estilos o en línea en tu HTML */
.carousel-inner .carousel-item img {
    height: 300px; /* Establece la altura deseada */
}

/* Estilos específicos para dispositivos móviles (pequeñas pantallas) */
@media (max-width: 768px) {
  /* Navbar */
  .navbar {
      top: 0; /* Deja el navbar en la parte superior en dispositivos móviles */
  }
  
  /* Footer */
  footer {
      bottom: 0; /* Deja el footer en la parte inferior en dispositivos móviles */
  }
}